body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  
}

h1 {
  margin: 0;
  font-size: 24px;
}

/* Nav Bar Styles */
nav {
  margin-top: 10px;
  padding: 15px;
  position: relative;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Cart Button */
.cart {
  position: absolute;
  top: 15px;
  right: 20px;
}

#cartItemsContainer {
  display: none;
  background-color: white;
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
}

.cart-items ul {
  list-style-type: none;
  padding: 0;
}

.cart-items ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.cart-items ul li:last-child {
  border-bottom: none;
}

/* Products Section */
main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product{
  background-color: white;
  padding: 20px;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}
.product img{
  width: 180px;
  border-radius: 5px 5px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}
